/* ===== YOUR CSS GOES HERE ===== */
/* ===== START WITH GLOBAL STYLES THEN USE MEDIA QUERIES FOR LAYOUT ADJUSTMENTS ===== */

@import url('https://fonts.cdnfonts.com/css/futura-medium');
@import url('https://fonts.cdnfonts.com/css/doctor-glitch');

html {
  box-sizing: border-box;
  background-color: #231F20;
  font-size: 16px;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Futura-Medium', sans-serif;
  line-height: 1.5;
  color: #231F20;
  padding: 0;
  margin: 0;
}

main {
  max-width: 700px;
  font-family: 'Futura-Medium', sans-serif;
  line-height: 1.5;
  color: #231F20;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Doctor Glitch', sans-serif;
  margin: 0;
}

.logo {
  color: #D8BD77;
  font-size: 1.8em;
  padding-left: 1em;
}

nav {
  background: #898B8E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Doctor Glitch', sans-serif;
  padding: 10px;
}

nav .navOptions {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  padding-right: 1em;
}

nav .navOptions li a {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  text-decoration: none;
  color: #231F20;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

nav .navOptions li a:hover {
  color: #D8BD77;
  border: 2px solid #D8BD77;
  border-radius: 6px;
}

#description {
  color: #D8BD77;
  padding-top: 3em;
  padding-bottom: 1em;
  text-align: center;
}

#description h2 {
  font-size: 4.5em;
}

#save-list {
  color: #D8BD77;
  padding-top: 3em;
  padding-bottom: 1em;
  text-align: center;
}

section {
  background-color: #F7F7F7;
  padding: 3em;
  height: 530px;
  width: 450px;
  border-radius: 10px;
}

section h3 {
  padding-bottom: 0.5em;
  text-align: center;
}

section ol li {
  padding: 0.5em;
}

#user-list {
  background-color: #D8BD77;
  border: #F7F7F7 solid 1em;
  margin-top: 2em;
  padding: 3em;
  height: auto;
  width: auto;
  border-radius: 10px;
}

#user-list h3 {
  padding-bottom: 0.5em;
  text-align: center;
}

#user-list p {
  padding: 0.5em;
  text-align: center;
}

.buttons-majority button {
  background-color: #898B8E;
  font-family: 'Doctor Glitch', sans-serif;
  font-size: 1.5em;
  padding: 1em;
  border-radius: 6px;
  width: 225px;
  margin-bottom: 3em;
  margin-top: 2em;
  margin-right: 20px;
  margin-left: 20px;
  color: #231F20;
}

.buttons-majority button:hover {
  color: #D8BD77;
}

.icon-size {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  height: 100vh;
  justify-content: center;
}

.filter {
  background-color: #F7F7F7;
  padding: 3em;
  height: 370px;
  width: 300px;
  border-radius: 10px;
}

.filter h3 {
  color: #231F20;
  padding-bottom: 0.5em;
  text-align: center;
  font-size: 1.5em;
}

label {
  display: flex;
  justify-content: left;
  accent-color: #D8BD77;
}

.about-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  height: 100vh;
  justify-content: center;
}

.about-cards {
  background-color: #F7F7F7;
  padding: 2em;
  height: 510px;
  width: 320px;
  border-radius: 10px;
}

.about-cards h3 {
  color: #231F20;
  padding-bottom: 0.5em;
  text-align: center;
  font-size: 1.5em;
  margin-top: 0.5em;
}

.about-cards ul li {
  display: flex;
  justify-content: left;
  list-style: none;
  margin-bottom: 35px;
  text-decoration: underline;
}

.about-cards ul li a {
  display: flex;
  justify-content: left;
  text-decoration: underline;
  color: #231F20;
}

.about-cards ul li a:hover {
  color: #D8BD77;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.show-section {
  background-color: #F7F7F7;
  padding: 3em;
  height: auto;
  width: auto;
  border-radius: 10px;
  margin-bottom: 40px;
}

.show-section h2 {
  padding-bottom: 0.5em;
  text-align: center;
}

.show-section img {
  width: 85%;
  height: auto;
  border-radius: 10px;
  float: left;
  margin-right: 2em;
}

.show-details {
  flex-direction: row;
  float: left;
  width: 50%;
}

.show-details p {
  margin: 0;
}

.left-half {
  float: left;
  width: 50%;
}

.starred-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  height: 100vh;
  justify-content: center;
}

.starred-cards {
  background-color: #F7F7F7;
  height: 375px;
  width: 260px;
  border-radius: 10px;
}

.starred-cards img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.starred-button button {
  background-color: #898B8E;
  font-family: 'Doctor Glitch', sans-serif;
  font-size: 1.1em;
  padding: 1em;
  border-radius: 6px;
  width: 160px;
  margin-left: 50px;
}

.starred-button button:hover {
  color: #D8BD77
}

[class^="bg-modal"] {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  max-width: 700px;
  width: auto;
  height: auto;
  background-color: #D8BD77;
  border-radius: 10px;
  position: relative;
  padding: 3em;
}

.modal-content h2 {
  padding-bottom: 0.5em;
  text-align: center;
}

[class^="close"] {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}

.download-button button {
  background-color: #898B8E;
  font-family: 'Doctor Glitch', sans-serif;
  font-size: 1em;
  padding: 1em;
  border-radius: 6px;
  width: 225px;
  margin-top: 40px;
}

.download-button button:hover {
  color: #D8BD77;
}

.restart-button button {
  background-color: #898B8E;
  font-family: 'Doctor Glitch', sans-serif;
  font-size: 1em;
  padding: 1em;
  border-radius: 6px;
  width: 225px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.restart-button button:hover {
  color: #D8BD77;
}

.star-size1 { 
  position: relative; 
  width: 105px; 
} 
 
.star-size2 { 
  position: absolute; 
  top: 0px; 
  right: 0px; 
} 

.circle-buttons button {
  flex-direction: row;
  background-color: #D8BD77;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 40px;
  margin-left: 40px;
}

.circle-buttons-labels {
  display: flex;
}

.circle-buttons-labels p:first-child {
  display: flex;
  color: #FF6962;
  margin-right: 50px;
}

.circle-buttons-labels p:nth-child(2) {
  display: flex;
  color: #FFFFB1;
  margin-right: 70px;
  margin-left: 20px;
}

.circle-buttons-labels p:last-child {
  display: flex;
  color: #C1E1C1;
  margin-right: 10px;
}

#dislikeBtn:hover {
  background-color: #FF6962;
}

#dashBtn:hover {
  background-color: #FFFFB1;
}

#likeBtn:hover {
  background-color: #C1E1C1;
}

.hidden {
  display: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #231F20;
}

@media(max-width:600px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navOptions {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #898B8E;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .navOptions.active {
    left: 0;
  }

  .circle-buttons button {
    width: 90px;
    height: 90px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .buttons-majority button {
    width: 160px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1em;
  }

  .download-button button {
    width: 180px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 0.8em;
  }

  .restart-button button {
    width: 180px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 0.8em;
  }

  .circle-buttons-labels p {
    font-size: 0.8em;
  }

  .circle-buttons-labels p:first-child {
    margin-right: 20px;
  }

  .circle-buttons-labels p:nth-child(2) {
    margin-right: 30px;
    margin-left: 3px;
  }

  .circle-buttons-labels p:last-child {
    margin-right: 1px;
  }
}

@media(max-width:470px) {
  section {
    width: 330px;
    height: 750px;
  }
}

@media(max-width:350px) {
  section {
    width: 260px;
    height: 1080px;
  }
}
